MLX90614/.pio/build/project.checksum
MLX90614/build/CMakeCache.txt
MLX90614/build/.cmake/api/v1/query/client-vscode/query.json
MLX90614/build/CMakeFiles/cmake.check_cache
MLX90614/.pio/build/project.checksum
.vscode/